.secret-data .input-container {
    position: relative;
    display: inline-block;
  }
  
  .secret-data input {
    padding-right: 60px; /* Make room for the button */
    width: calc(100% - 60px); /* Adjust width if necessary */
  }
  
  .secret-data .toggle-visibility {
    position: absolute;
    right: 0;
    top: 6px;
    border: none;
    cursor: pointer;
  }
  